<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Backend Development Site</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <div class="jumbotron">
        <h1>Toppings</h1>
        <br/>
        <a href="https://kauth.kakao.com/oauth/authorize?client_id=aa16853c76ace046dd466333bfd4ec18&redirect_uri=http://localhost:28080/auth/kakao/callback&response_type=code"/><img
            src="https://user-images.githubusercontent.com/112257466/234469934-160d61ea-d68c-4744-ba2b-5e8d24c7de5a.png">
        <br/><br/>
        <!--        <p class="lead">♥ OAuth API ♥</p>-->
        <!--        <p>-->
        <!--            <a class="btn btn-lg btn-secondary" href="/members/new">토큰 인가</a>-->
        <!--            <a class="btn btn-lg btn-secondary" href="/members">토큰 확인</a>-->
        <!--        </p>-->
    </div>

    <div th:replace="fragments/footer :: footer"/>

</div> <!-- /container -->

</body>
</html>
